@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #1B244A;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: min(300px , 50vh);
}
h3 {
    /* font-size: bold; */
    font-size: 2.5rem;
    color: #eee;
    margin: 0;
}

.timer {
    font-family: 'Cursed Timer ULiL', sans-serif;
}
.display {
    background-color: #080001 ;
    color: #F94F6D;
    font-size: 3.5rem;
}
.points-number {
    font-size: 1rem;
    background-color: #1B244A;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 4px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.reset {
    font-family: inherit;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #42b72a;
    color: #eee;
    width: min(150px , 50vw);
    height: auto;
    border-radius: 4px;
}

/*adding pseudo class && elements*/
button.points-number:hover {
   color: #42b72a;
}
button.points-number:active {
    background-color: #42b72a;
    color: #1B244A;
}
button.reset:hover {
    background-color: hsl(110, 48%, 58%);
}
button.reset:active {
    color: #F94F6D;
}